@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";



* {
	font-family: "Averia Serif Libre", serif;
}
@theme {
	--text-9-5xl: 9rem;
	--text-10xl: 16rem;
	--text-12xl: 24rem;
}
