@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import "tailwindcss";

html {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	@apply bg-beige;
}

.bg-layer {
	position: fixed;
	inset: 0;
	z-index: -10;
	pointer-events: none;
	@apply bg-beige;
}

.bg-image-container {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -5;
	pointer-events: none;
	overflow: hidden;
}

.bg-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

* {
	font-family: "Aladin", system-ui;
}

.title-font {
	font-family: "Averia Serif Libre", serif;
}

@theme {
	--text-9-5xl: 9rem;
	--color-beige: #BB9457;
	--color-egg-yellow: #FFE6A7;
	--color-dark-red: #6F1D1B;
	--color-dark-brown: #432818;
	--color-light-brown: #99582A;
}
