@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Leckerli+One&display=swap');
@import "tailwindcss";

html {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	background-color: #D1C4B9;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
}

* {
	font-family: "Leckerli One", cursive;
}

.title-font {
	font-family: "Averia Serif Libre", serif;
}

@theme {
	--text-9-5xl: 9rem;
}
